body {
	font-family: Arial;
	font-family: 'SF Pro Display';
	padding: 0;
	margin: 0;
	color: black;
	background: white;
	display: flex;
	flex-direction: column;
	height: 100vh;
	/*background: linear-gradient(to bottom, #ffffff,#d0d0d0 );*/
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

#nBar {
	z-index: 10;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
	margin-bottom: 20px;
	position: sticky;
	background: white;
	top: 0;
}


#viewGrid{
	align-content: center;
	text-align: center;
}

.image{
    width: 100%;
}

#view{
    background: #F7FBFD;
    flex-grow: 2;
    width: 90%;
    min-height: 70%;
}

a{
	text-decoration: none;
}

@media all and (max-width: 1280px) {

	.card{
		max-width:200px;
	}
}

@media all and (max-width: 480px) {
	html{
		height: 100%;
	}
	
	.header{
		position: sticky;
		top: 0;
	}
	
	.returnDiv{
		margin-left: 10px;
	}
	
	.topnav{
		display:flex;
		flex-direction: column;
		text-align: left;
	}
	
	#logo{
		height: 40px;
	}
	
	#inputSearch
	{
		border-radius: 5px;
		border: 2px solid #00719C;
		font-size: large;
	}
	
	#viewGrid{
		align-content: center;
		text-align: center;
		width: 100%;
	}
	
	.imgBlock{
		width: 45%;
        padding: 2.5px;
	}		
}
