@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita??lic,400italic,500,500italic,700,700italic,900italic,900);

:root,
:root.light {
	--bg-color: #fff;
	--text-color: #151515;
}

:root.dark {
	--bg-color: #121212;
	--text-color: #cccccc;
}

.theme-btn.light {
	display: none;
}

.dark .theme-btn.dark {
	display: none;
}

.dark .theme-btn.light {
	display: block;
}

html, body, html * {
	font-family: 'SF Pro Display', 'Roboto', sans-serif;
	transition: .2s ease-in-out;
}

body {
	font-family: 'SF Pro Display';
	padding: 0;
	margin: 0;
	color: black;
	display: flex;
	flex-direction: column;
	height: 100vh;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
	background: var(--bg-color);
	color: var(--text-color);
}

#nBar {
	z-index: 10;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
	margin-bottom: 20px;
	position: sticky;
	background: white;
	top: 0;
}


#viewGrid{
	align-content: center;
	text-align: center;
}

.image{
    width: 100%;
}

#view{
    background: #F7FBFD;
    flex-grow: 2;
    width: 90%;
    min-height: 70%;
}

a{
	text-decoration: none;
}

@media all and (max-width: 1280px) {

	.card{
		max-width:200px;
	}
}

@media all and (max-width: 480px) {
	html{
		height: 100%;
	}
	
	.header{
		position: sticky;
		top: 0;
	}
	
	.returnDiv{
		margin-left: 10px;
	}
	
	.topnav{
		display:flex;
		flex-direction: column;
		text-align: left;
	}
	
	#logo{
		height: 40px;
	}
	
	#inputSearch
	{
		border-radius: 5px;
		border: 2px solid #00719C;
		font-size: large;
	}
	
	#viewGrid{
		align-content: center;
		text-align: center;
		width: 100%;
	}
	
	.imgBlock{
		width: 45%;
        padding: 2.5px;
	}		
}


@media only screen and (max-width: 768px)
{
	#viewGrid{
		display: grid;

	}

	#navLogo {
		float: right;
	}

	#btnSearch{
		width: 100%;
		margin:auto;
	}
}

/*@media (prefers-color-scheme: dark) {

	html, body, html * {
		background-color: #272727;
		color: #e5e5e5;
		--text-color-normal: #0a244d;
		--text-color-light: #8cabd9;
	}

	#nBar
	{
		color: #e5e5e5;
	}
}

*/
