body{
	/*background: url("../includes/background.jpg");
	background-size: cover;*/
    font-family: 'SF Pro Display';
	padding: 0;
	margin: 0;
	color: black;
    background: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#nBar {
	z-index: 10;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
	margin-bottom: 20px;
}

.header{
	background-color: white;
	border-radius: 5px;
	border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    z-index: 5;
    margin-bottom: 10px;
}

.topnav{
	backdrop-filter: blur(8px);
	background-color: #fff;
	overflow: hidden;
}

.topnav a{ 
	float: left;
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	
	transition: .1s ease-in-out;
}

#imgBack{
	width: 30px;
	margin-top: -3px;
}

.returnDiv{
	display:flex;
	vertical-align: middle;
	font-family: "Source Sans Pro";
	color: #00719C;
	height: 30px;
	text-transform: uppercase;
	align-items: center;
	text-align: center;
	margin-left: 20px;
	margin-bottom: 10px;
    padding: 5px;
}

#dashText{
	font-size: 2rem;
	font-weight: 900;
    text-transform: uppercase;    
}

#logo{
	height: 65px;
}

#inputSearch{
    width: 95%;
    height: 2rem;
    border:none;
    background: #E7EFF6;
    max-height: 3rem;
    border-radius: 10px;
}

#inputSearch:focus{
    outline: none;
}

#logoDiv{
    flex-shrink: 1;
    float:left;
    padding: 5px;
}


#viewGrid{
	align-content: center;
	text-align: center;
}

.image{
    width: 100%;
}


#breaker{
    background: #00719C;
    height: 3px;
    width: 98%;
    margin: auto;
    border-radius: 2px;
    margin-bottom: 15px;
    margin-top: 5px;
}

#view{
    background: #F7FBFD;
    flex-grow: 2;
    width: 90%;
    height: 70%;
}

#dropdown-menu{
	position: relative;
}

@media all and (max-width: 480px) {
	html{
		height: 100%;
	}
	
	.header{
		position: sticky;
		top: 0;
	}
	
	.returnDiv{
		margin-left: 10px;
	}
	
	.topnav{
		display:flex;
		flex-direction: column;
		text-align: left;
	}
	
	#logo{
		height: 40px;
	}
	
	#inputSearch
	{
		border-radius: 5px;
		border: 2px solid #00719C;
		font-size: large;
	}
	
	#viewGrid{
		align-content: center;
		text-align: center;
		width: 100%;
	}
	
	.imgBlock{
		width: 45%;
        padding: 2.5px;
	}		
}
