html{
	height: 100%;
	display: block;
    font-family: "SF Pro Display";
}

body{
    
	background-image: url('../includes/background.jpg');	
	background-size: cover;
	backdrop-filter: blur(5px);
	min-height: 100vh;
	padding: 0 !important;
	margin: 0 !important;
	transition: 0.2s ease-in-out;
    /*animation: bg 5s ease-in infinite;*/
    backdrop-filter: brightness(80%);
}

@keyframes bg{
	0% {
		backdrop-filter: brightness(60%);
		/*backdrop-filter: blur(8px);*/
	}

	50% {
		backdrop-filter: brightness(40%);
		/*backdrop-filter: blur(2px);*/
	}

	100% {
		backdrop-filter: brightness(60%);
		/*backdrop-filter: blur(8px);*/
	}
}

#container{
	display: flex;
	height: 100vh;
}

.main{
	width: 50%;	
	padding: 20px;
}

#left{
	width: 45%;
	padding: 20px;
	align-items: center;
}


#right{
	text-align: right;
	width: 55%;
}

#bTitle{
	font-size: 4.5rem;
	color: white;
	margin: 0;
	text-transform: uppercase;
	transition: .2s ease-in-out;
    font-weight: bolder;
}

.inputText{
    margin-bottom: 5px;
    margin-top: 20px; 
    font-family: "SF Pro Text";
    font-weight: bold;
}

#login{
	border: 3px solid white;
	border-radius: 7px;
	color: white;
	text-align: center;
	height: 95%;
	align-content: center;
	background: none;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;	
	display: flex;
	flex-direction: column;
}

login::before {
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	border: 2px solid rgba(0.1,0,0,.07);
	border-radius: 2px;
	width: 100%;
	height: 100%;
	filter: blur(4px);
}

input{
	border: 3px solid white;
	border-radius: 5px;
	outline: none;
	width: 60%;
	caret-color: white;
	font-size: large;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 5px;
	background: none;
	transition: 0.2s ease-in-out;
}

h2{
	font-weight: lighter
}
#loginText{
	font-size: 4rem;
	margin: 0;
	margin-top: 20px;
}

#userName{
	margin-top: 20px;
	align-items: center;
	text-align: center;
}

#passCode{
	align-items: center;
}


#btnLogin{
	font-weight: bold;
	font-size: 1.5rem;
	border: 3px solid white;
	background: none;
	color: white;
	border-radius: 5px;
	line-height: 30px;
	transition: 0.2s ease-in-out;
	
}

#arrowRight{
	margin-top:-5px;
	
}

#btnLogin:hover{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;	
	padding: 0px 50px;
	border: none;
	background: #5B616A;
	cursor: pointer;
}

button img{
	padding: 0px;
	vertical-align: middle;
}

#divBtn{
	margin-top: auto;
	margin-bottom: 20px;
}

input:hover{
	padding: 1px 20px;
	backdrop-filter: blur(8px);
}

#mTitle{
	visibility: hidden;
	transition: .2s ease-in-out;
}

@media all and (max-width: 480px){
	
	#bTitle{
		visibility: hidden;
		display: none !important;
	}
	
	body{
		min-height: 100vh;
		color: #5B616A;
		backdrop-filter: blur(10px);
		backdrop-filter: brightness(80%);
	}
	
	#container{
		display: flex;
		flex-direction: column-reverse;
		color: #5B616A;
	}
	
	#right{
		width: 85%;
		padding: 10px;
		margin: auto;
		text-align: center;
		justify-content: center;
		color: #5B616A;
	}
	
	#left{
		width: auto;
		flex-grow: 1.5;
		color: #5B616A;
		
	}
	
	
	#mTitle{
		visibility: visible;
		font-size: 2em;
		text-transform: uppercase;
		margin: auto;
		
	}
	
	#login{
		width: 80%;
		margin: auto;
		border: none;
		transition: .2s ease-in-out;
		/* background-color: rgba(255, 255, 255, .9); */
		backdrop-filter: blur(10px);
	}
	
	#loginText{
		font-size: 2rem;
		margin-top: 20px;
	}
	
	.inputText{
		margin-top: 5px;
		font-size: 1rem;
		color: #5B616A;
	}
	
	#userName{
		margin-top: 30px;
	}
	
	#divBtn{
		flex-basis: auto;
	}
	
	#btnLogin{
		padding: 5px 20px;
		height: 30px;
		font-weight: bold;
		border: none;
		background: #5B616A;
		border-radius: 5px;
		transition: 0.2s ease-in-out;
		font-size: 1rem;
		color: white;
		line-height: normal;
		
	}
	
	#arrowRight{
		display: none;
	}
	
	input{
		border: 2px solid #5B616A;
	}
}

@media all and (min-width: 1024px ){

	body{
		
	}

	#bTitle{
		font-size: 5rem;
		transition: .2s ease-in-out;
	}
	
}
